@model RoleViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<code>@Model.RoleId</code>
<code>@Model.RoleName</code>
<p>Use this page to detail your site's privacy policy.</p>
